In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("Movie.csv")
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [6]:
df.replace(["not available", "not mension", "not value"], np.nan, inplace=True)

In [7]:
df.fillna(0, inplace=True)

In [9]:
df["PRODUCTION_YEAR"] = df["PRODUCTION_YEAR"].astype(int)
df["RATING"] = df["RATING"].astype(int)

In [12]:
data = df[(df["PRODUCTION_YEAR"]>2015) & (df["RATING"] >8)]
data

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
8,9.0,0,0,2020,Action|Adventure|Biography|Drama|Western,10

In [17]:
data1 = df[df["GENRES"].str.contains("War", na=False)]
data1

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
7,8.0,462504,0,2006,Action|Adventure|Biography|Drama|War,0