In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Movie.csv")
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
df.replace(["not available", "not mension", "not value"], np.nan, inplace=True)
df.fillna(0, inplace=True)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,0
1,0.0,0,0,0,0,0
2,3.0,0,0,2014,0,0
3,4.0,1390411,0,2015,0,5
4,5.0,6306064,0,0,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,0,0,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,0,2015,Action|Adventure|Biography|Drama|Thriller,0
7,8.0,462504,0,2006,Action|Adventure|Biography|Drama|War,0
8,9.0,0,0,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,0,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [4]:
df["PRODUCTION_YEAR"] = df["PRODUCTION_YEAR"].astype(int)
df["RATING"] = df["RATING"].astype(float)
df["MOVIE_TITLE"] = df["MOVIE_TITLE"].astype(str)

In [5]:
x = df["MOVIE_TITLE"].apply(len)
x

0      5
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9     13
10     1
11    13
Name: MOVIE_TITLE, dtype: int64

In [6]:
df["MOVIE_REVIEW"] = df["RATING"].apply(lambda x: "good" if x>6 else "bad")
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0  4642044          Riot              2015
1       0.0        0              0                0
2       3.0        0              0             2014
3       4.0  1390411              0             2015
4       5.0  6306064              0                0
5       6.0  6306064              0                0
6       7.0  2719848              0             2015
7       8.0   462504              0             2006
8       9.0        0              0             2020
9      10.0   163225  The Revenant              2015
10     11.0  1663202              0             2015
11     12.0  1663202  The Revenant              2021

                                               GENRES  RATING MOVIE_REVIEW
0                                              Action     0.0          bad
1                                                   0     0.0          bad
2                                                   0     0.0          bad
3                                                   0     5.0          bad
4   Action|Adventure|Biography|Drama|Romance|Thriller     4.0          bad
5   Action|Adventure|Biography|Drama|Romance|Thriller     5.0          bad
6           Action|Adventure|Biography|Drama|Thriller     0.0          bad
7                Action|Adventure|Biography|Drama|War     0.0          bad
8            Action|Adventure|Biography|Drama|Western    10.0         good
9            Action|Adventure|Biography|Drama|Western     9.0         good
10           Action|Adventure|Biography|Drama|Western     9.0         good
11           Action|Adventure|Biography|Drama|Western     6.0          bad

In [7]:
df["MOVIE_UPPER"] = df["MOVIE_TITLE"].apply(lambda x: x.upper() if x!=0 else "")
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0  4642044          Riot              2015
1       0.0        0              0                0
2       3.0        0              0             2014
3       4.0  1390411              0             2015
4       5.0  6306064              0                0
5       6.0  6306064              0                0
6       7.0  2719848              0             2015
7       8.0   462504              0             2006
8       9.0        0              0             2020
9      10.0   163225  The Revenant              2015
10     11.0  1663202              0             2015
11     12.0  1663202  The Revenant              2021

                                               GENRES  RATING MOVIE_REVIEW  \
0                                              Action     0.0          bad
1                                                   0     0.0          bad
2                                                   0     0.0          bad
3                                                   0     5.0          bad
4   Action|Adventure|Biography|Drama|Romance|Thriller     4.0          bad
5   Action|Adventure|Biography|Drama|Romance|Thriller     5.0          bad
6           Action|Adventure|Biography|Drama|Thriller     0.0          bad
7                Action|Adventure|Biography|Drama|War     0.0          bad
8            Action|Adventure|Biography|Drama|Western    10.0         good
9            Action|Adventure|Biography|Drama|Western     9.0         good
10           Action|Adventure|Biography|Drama|Western     9.0         good
11           Action|Adventure|Biography|Drama|Western     6.0          bad

      MOVIE_UPPER
0           RIOT
1               0
2               0
3               0
4               0
5               0
6               0
7               0
8               0
9   THE REVENANT
10              0
11  THE REVENANT