In [12]:
import pandas as pd

In [13]:
people1 = {"First Name": ["Sujal", "Rahul", "Raj", "Samar"], "Last Name": ["Shah", "Sharma", "Singh", "Sinha"], "Email": ["sujal.shah@example.com", "rahul.sharma@example.com", "raj.singh@example.com", "samar.sinha@example.com"]}
people1

{'First Name': ['Sujal', 'Rahul', 'Raj', 'Samar'],
 'Last Name': ['Shah', 'Sharma', 'Singh', 'Sinha'],
 'Email': ['sujal.shah@example.com',
  'rahul.sharma@example.com',
  'raj.singh@example.com',
  'samar.sinha@example.com']}

In [14]:
df = pd.DataFrame(people1)
df

  First Name Last Name                     Email
0      Sujal      Shah    sujal.shah@example.com
1      Rahul    Sharma  rahul.sharma@example.com
2        Raj     Singh     raj.singh@example.com
3      Samar     Sinha   samar.sinha@example.com

In [15]:
df["Full Name"] = df["First Name"] + " " + df["Last Name"]
df

  First Name Last Name                     Email     Full Name
0      Sujal      Shah    sujal.shah@example.com    Sujal Shah
1      Rahul    Sharma  rahul.sharma@example.com  Rahul Sharma
2        Raj     Singh     raj.singh@example.com     Raj Singh
3      Samar     Sinha   samar.sinha@example.com   Samar Sinha

In [ ]:
df.drop(columns=["First Name","Last Name"],inplace=True)
df

                      Email     Full Name
0    sujal.shah@example.com    Sujal Shah
1  rahul.sharma@example.com  Rahul Sharma
2     raj.singh@example.com     Raj Singh
3   samar.sinha@example.com   Samar Sinha

In [17]:
df[["First","Last"]] = df["Full Name"].str.split(" ",expand=True)
df

                      Email     Full Name  First    Last
0    sujal.shah@example.com    Sujal Shah  Sujal    Shah
1  rahul.sharma@example.com  Rahul Sharma  Rahul  Sharma
2     raj.singh@example.com     Raj Singh    Raj   Singh
3   samar.sinha@example.com   Samar Sinha  Samar   Sinha

In [18]:
x = df.pop("Full Name")
print(x)
print(df)

0      Sujal Shah
1    Rahul Sharma
2       Raj Singh
3     Samar Sinha
Name: Full Name, dtype: object
                      Email  First    Last
0    sujal.shah@example.com  Sujal    Shah
1  rahul.sharma@example.com  Rahul  Sharma
2     raj.singh@example.com    Raj   Singh
3   samar.sinha@example.com  Samar   Sinha