In [16]:
import pandas as pd

In [17]:
dfx = pd.DataFrame({"Fruit": ["Apple", "Banana", "Cherry", "Orange"], "Vegitables": ["Carrot", "Potato", "Tomato", "Cucumber"], "MarketPrice": [100, 50, 150, 80]})
dfx

    Fruit Vegitables  MarketPrice
0   Apple     Carrot          100
1  Banana     Potato           50
2  Cherry     Tomato          150
3  Orange   Cucumber           80

In [18]:
dfy = pd.DataFrame({"Fruit": ["Apple", "Banana", "Cherry", "Grapes"], "Vegitables": ["Carrot", "Potato", "Tomato", "Spinach"], "ShopPrice": [100, 50, 150, 120]})
dfy

    Fruit Vegitables  ShopPrice
0   Apple     Carrot        100
1  Banana     Potato         50
2  Cherry     Tomato        150
3  Grapes    Spinach        120

In [19]:
x = pd.merge(dfx, dfy, on=["Fruit","Vegitables"], how="inner")
x

    Fruit Vegitables  MarketPrice  ShopPrice
0   Apple     Carrot          100        100
1  Banana     Potato           50         50
2  Cherry     Tomato          150        150

In [20]:
x = pd.merge(dfx, dfy, on=["Fruit","Vegitables"], how="outer")
x

    Fruit Vegitables  MarketPrice  ShopPrice
0   Apple     Carrot        100.0      100.0
1  Banana     Potato         50.0       50.0
2  Cherry     Tomato        150.0      150.0
3  Orange   Cucumber         80.0        NaN
4  Grapes    Spinach          NaN      120.0